@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background-image: url("./assets/Frame\ 4.png") ;
    width: auto;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Source Sans 3', sans-serif;
}

.guess__button{
    display: flex;
    margin-left: 63%;
  
}
button{
    margin-left: 1%;
    margin-top: 84%;
    font-size: 12px;
    padding: 5px;
    width: 15%;
}
.main--game--inputs{
    display: flex;
    justify-content: center;
    margin-left: 13%;
    margin-top: -13%;
}
p{
    text-align: center;
    position: relative;
    top: -20px;
    font-weight: 400;
}
H2{
   
    text-align: center;
    font-size: xx-large;
    letter-spacing: 20px;
    margin-left: 30px;

}

input{
    position: relative;
    top: -20px;
    width: 500px;
    height:30px;
}
input[type="text"]{
    padding-left: 15px;
}
#game--time{
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: -250px;
    left: -130px;
}